extends layout.pug

block content
  .container.p-2
    #clubs-list.card-columns
      each club in clubs
        .club.card
          .card-block
            h4.card-title= club.name
            p.card-text= club.description
          .card-footer= `Founded ${club.date_founded}`

