extends layout.pug

block content
  .container.p-0.pt-3
    #clubs-list.card-columns
      each club in clubs
        .club.card
          .card-block
            a.h4.card-title(href='/club/' + club.id)= club.name
            p.card-text= club.description
          .card-footer= `${club.member_count} members`

