html {
    height: 100%;
}

body{
	margin:0;
	padding:0;
    height: 100%;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('http://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	animation: 49s linear 0s normal none infinite animate;
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 500px;}
}

body > .container {
    height: 100%;
    padding-top: 56px;
}

.vert-center-box {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0;
}

.vert-center-box .card {
    width: 100%;
}

